@import "./LoadingSpinner.css";

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  max-width: 90%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s ease-in-out;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
      max-width: 75%;
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input[type="date"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

input[type="date"]:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

button:hover {
  background-color: #2980b9;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  max-width: 750px;
  justify-self: center;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.customer-table th {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: left;
}

.customer-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.customer-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.customer-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .customer-table {
      font-size: 14px;
  }
}

.no-customers {
  color: #9c0000;
  font-size: 16px;
  margin-top: 20px;
}
